# COMMENTS

## HOW TO USE COMMENTS
### DESCRIBE WHAT A CODE BLOCK MEANS
### PROGRAMER COHERENT STATEMENT

## HOW TO WRITE COMMENTS IN PYTHON

In [1]:
print("comments start with a #")

comments start with a #

In [2]:
""" 
this will be omitted
"""

' \nthis will be omitted\n'

# OPERATORS
## TO PERFORM OPERATIONS BETWEEN VARIABLES

# VARIABLES AND DATA TYPES

In [3]:
x=10

In [5]:
x=20
print(x)

20

In [6]:
num=5>6
name='anvika'

In [7]:
print(num,name)

False anvika

In [8]:
mylist=[1,2,34,99]
mylist

[1, 2, 34, 99]

In [12]:
mydictionary={'1':'anvika','2':'aroel'}
mydictionary

{'1': 'anvika', '2': 'aroel'}

In [13]:
myset={1,2,3}
myset

{1, 2, 3}

In [14]:
mytuple=(1,2,3,4)
mytuple

(1, 2, 3, 4)

## types of operators
### assignment operator

In [16]:
a=1
print(a)

1

### arithmetic operator

In [17]:
b=1
b+=a
print(b)

2

### COMPARISON OPERATOR

In [18]:
a==b
print(a)

1

###  LOGICAL OPERATOR

In [22]:
a&b

0

### identity

In [25]:
a=8
b=9
a is b

False

### MEMBERSHIP OPERATOR

In [26]:
list1=(10,20,30)
list2=(10,0,30)
print(list1 in list2)

False

### BITWISE OPERATOR

In [27]:
a=10
b=7
a^b

13

In [28]:
~a

-11

In [30]:
b>>a

0