# FUNCTIONS
## BUILT IN FUNCTIONS

In [1]:
a=10
abs(a)

10

In [2]:
del(a)
print(a)

NameError: name 'a' is not defined

In [7]:
mylist=["true","false"]
x=all(mylist)
print(x)

True

In [10]:
b='my name is anika'
ascii(b)

"'my name is anika'"

In [11]:
x=bool(1)
print(x)

True

In [12]:
x={'apple','banana','chiko'}
print(enumerate(x))

<enumerate object at 0x0000016F3FA6B300>

In [16]:
x=format(0.5,"%")
print(x)

50.000000%

In [21]:
class person():
    name="liks"
    age="21"
    company="jhgh"

getattr(person,'age')

'21'

In [22]:
x={'apple','lemon','orange'}
id(x)

1577320760032

In [23]:
len(x)

3

In [32]:
def myfunc(n):
    return len(n)

n=map(myfunc("apple"))
myfunc()

TypeError: map() must have at least two arguments.

In [34]:
min(5,10)

5

In [35]:
max(5,10)

10

In [36]:
pow(2,9)

512

In [37]:
print("hello")

hello

In [39]:
class person:
    name="hele"
    age="31"
    
setattr(person,"age",54)
getattr(person,"age")

54

In [40]:
a={"a","n","v","i"}
x=sorted(a)
print(a)

{'i', 'v', 'n', 'a'}

In [41]:
type(a)

set

## USER DEFINED FUNCTIONS

### CREATING A FUNCTION AND CALLLING THEM

In [42]:
def func1():
    return 1

func1()

1

In [45]:
def country(coname):
    return coname + "ju"

country("Netherlands")

'Netherlandsju'

### LAMBDA FUNCTIONS

In [46]:
x=lambda x:x*x
print(x(2))

4

In [53]:
z=lambda x,y: x % y
print(z(2,1))

0

In [60]:
def myfunc(n):
    return lambda a:a-n
mydoubler=myfunc(1)
print(mydoubler(5))

4

In [69]:
def func(a):
    return lambda a:a*a
x=func(a)
print(x(89))

7921

### ALGEBRA LAMBDA

In [79]:
s=lambda x,y:x*3+y
s(4,9)

21

In [81]:
s=lambda a,r:a*r -10
s(2,45)

80

In [84]:
s=lambda a,g:a**g
s(35,7)

64339296875