# TUPLES

In [1]:
a=(1,2,3,4,5)
print(a)
b=4,5,6,7
print(b)

(1, 2, 3, 4, 5)
(4, 5, 6, 7)

In [2]:
print(a[1])

2

In [3]:
print(b[-1])

7

### chnaging

In [7]:
a=(1,2,3,4,[34,56,78])
a[4][1]=98
print(a)

(1, 2, 3, 4, [34, 98, 78])

### CONCATINATION

In [8]:
c=a+b

In [9]:
print(c)

(1, 2, 3, 4, [34, 98, 78], 4, 5, 6, 7)

### deletion

In [10]:
del a
print(a)

NameError: name 'a' is not defined

### COUNT AND LENGTH

In [13]:
c.count(1)

1

In [16]:
b.index(4)

0

### LIST VS TUPLE

### list has homogenous data types while tuple has hetrogenous datas within it.
### lists are mutable while tuples are not
### lists does not gauranteen written code while tuples does

## TUPLE CONSTRUTOR

In [18]:
a=[1,2,3,4]
b=tuple(a)
print(b)

(1, 2, 3, 4)

In [19]:
for i in a:
    print(i)

1
2
3
4

In [20]:
print(a in a)

False

In [21]:
print(b in a)

False